body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(157, 228, 205);
}

.schedule{
    border: thin solid black;
    border-spacing: 2px;
    border-collapse:separate;
    caption-side: top;
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: rgb(137, 190, 190);
}

.schedule thead tr{
    background: rgb(107, 182, 157);
    color: aliceblue;
}

.schedule tfoot tr{
    background: rgb(107, 182, 157);
    color: aliceblue;
}

.schedule th, .schedule td{
    border: thin solid black;
    padding: 5px;
}

.schedule tbody tr:nth-child(odd){
    background-color: rgb(113, 164, 144);
}