body {
    font-family: Arial, Helvetica, sans-serif;
    background : url(background.jpg) no-repeat;
    background-size: cover;
}

header{
    margin: 1%;
    font-size: 15pt;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: rgba(86, 140, 102, 0.8);
    margin: 1%;
    font-size: 14pt;
    padding: 8px;
    border: 2px solid black;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: rgb(10, 10, 10);
}

.current{
    color: black;
}

main{
    margin: 1%;
    box-shadow: 0 10px 30px black;
    border: 2px solid black;
    padding: 0 20px 20px 20px;
    color: rgb(245, 248, 246);
    background: rgba(0, 0, 0, 0.4);
}

.content{
    display: flex;
    gap: 10%;
}

.sentence{
    padding: 5%;
}

.paragraph{
    flex: 1;
}

p{
    font-size: 14pt;
}

.park{
    border: thin solid black;
    border-spacing: 2px;
    border-collapse:separate;
    caption-side: top;
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: rgb(137, 190, 190);
}

.park thead tr{
    background: rgb(107, 182, 157);
    color: aliceblue;
}

.park th, .park td{
    border: thin solid black;
    padding: 5px;
}

.park tbody tr:nth-child(odd){
    background-color: rgb(113, 164, 144);
}

.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label, .spacer{
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(148, 216, 148);
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: rgb(173, 230, 173);
    padding: 5px 20px;
    border-radius: 3px;
}

.form-row input[type='submit'] {
    background-color: rgb(78, 203, 93);
    padding: 5px 20px;
    border-radius: 10px;
}

fieldset{
    background-color: rgb(101, 142, 113);
    width: 50%;
    margin: auto;
    border: black double;
    border-radius: 10px;
}

legend{
    background-color: rgb(82, 181, 102);
    padding: 15px;
    border: rgb(27, 27, 27) 2px solid;
    border-radius: 10px;
}

footer{
    margin: 1%;
    font-size: 14pt;
    font-weight: bold;
    color: aliceblue;
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row{
        flex-direction: column;
    }

    .form-row label, .spacer{
        text-align: left;
    }
}