body {
    font-family: Arial, Helvetica, sans-serif;
    background : url(background.jpg);
    background-size: cover;
}

header{
    margin: 1%;
    font-size: 15pt;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: rgba(86, 140, 102, 0.8);
    margin: 1%;
    font-size: 14pt;
    padding: 8px;
    border: 2px solid black;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: rgb(10, 10, 10);
}

main{
    margin: 1%;
    box-shadow: 0 10px 30px black;
    border: 2px solid black;
    padding: 0 20px 20px 20px;
    color: rgb(245, 248, 246);
}

.home{
    display: flex;
    gap: 10%;
}

.sentence{
    padding: 5%;
}

footer{
    margin: 1%;
    font-size: 14pt;
    font-weight: bold;
    color: aliceblue;
}