body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#d4d687, #338454, rgb(35, 190, 196));
    background-size: cover;
}

header{
    font-size: 15pt;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: rgba(40, 108, 60, 0.8);
    font-size: 14pt;
    margin: 1%;
    padding: 8px;
    border: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: rgb(10, 10, 10);
}

.current{
    color: black;
}

main{
    padding: 5px 25px 25px 25px;
    margin: 1%;
    border: 2px solid black;
    color: black;
    background: rgb(178, 201, 179, 0.6);
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.sentence{
    text-align: center;
    font-size: 13pt;
}

button{
    padding: 10px;
    border: black solid;
    border-radius: 10px;
    background: rgba(40, 108, 60, 0.8);
    color: aliceblue;
    font-size: 12pt;
}

.next{
    text-align: right;
}

.card{
    display: flex;
    gap: 25px;
}

p{
    text-align: justify;
}

.park{
    border: thin solid black;
    border-spacing: 2px;
    border-collapse:separate;
    caption-side: top;
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color: rgb(124, 189, 189);
}

.park thead tr{
    background: rgb(51, 125, 100);
    color: aliceblue;
}

.park th, .park td{
    border: thin solid black;
    padding: 5px;
}

.park tbody tr:nth-child(odd){
    background-color: rgb(128, 204, 172);
}

.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label, .spacer{
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 8px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(148, 216, 148);
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: rgb(173, 230, 173);
    padding: 5px 20px;
    border-radius: 3px;
}

.form-row input[type='submit'] {
    background-color: rgb(122, 249, 137);
    padding: 5px 20px;
    border-radius: 10px;
}

fieldset{
    background-color: rgb(136, 187, 151);
    width: 50%;
    margin: auto;
    border: black double;
    border-radius: 10px;
}

legend{
    background-color: rgb(132, 221, 142);
    padding: 15px;
    border: rgb(27, 27, 27) 2px solid;
    border-radius: 10px;
}

footer{
    margin: 1%;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}

@media ONLY screen AND (max-width: 1024px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    .form-row, .check-row{
        flex-direction: column;
    }

    .form-row label, .spacer{
        text-align: left;
    }

    .content{
        flex-direction: column;
    }

    .card{
        flex-direction: column;
    }

    .video{
        width: 100%;
        aspect-ratio: 16/9;
    }

    .video iframe {
        width: 100%;
        height: 100%;
    }
}