body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 84, 84);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: rgb(18, 18, 18);
}